.formacao {
  background-color: #141414;
  color: #a3a3a3;
  margin-top: 40px;
}

.formacao-div {
  grid-template-columns: 1.35fr 2fr;
}

.formacao .subtitulo {
  color: #292929;
}

.formacao-texto {
  font-size: 1.3rem;
  max-width: 650px;
}

.formacao-texto strong {
  color: white;
}

.formacao-lista-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.formacao-lista-content {
  background-color: black;
  height: 140px;
  width: 160px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.formacao-lista-content::before {
  content: "";
  width: 4px;
  height: 20px;
  background-image: linear-gradient(#ff0033, #561515);
  position: absolute;
  top: 20px;
  left: -4px;
}

.formacao-lista-titulo {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.formacao-lista-curso {
  color: white;
  font-size: 1.125rem;
}

.formacao-lista-instituicao {
  position: absolute;
  bottom: 20px;
}
