.formacao {
  background-color: #141414;
  color: #a3a3a3;
  margin-top: 40px;
}

.formacao-div {
  grid-template-columns: 1.35fr 2fr;
}

.formacao .subtitulo {
  color: #292929;
}

.formacao-texto {
  font-size: 1.3rem;
  max-width: 650px;
}

.formacao-texto strong {
  color: white;
}

.formacao-lista-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.formacao-lista-content {
  background-color: black;
  height: 140px;
  width: 160px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.formacao-lista-content::before {
  content: "";
  width: 4px;
  height: 20px;
  background-image: linear-gradient(#ff0033, #561515);
  position: absolute;
  top: 20px;
  left: -4px;
}

.formacao-lista-titulo {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.formacao-lista-curso {
  color: white;
  font-size: 1.125rem;
}

.formacao-lista-instituicao {
  position: absolute;
  bottom: 20px;
}

.cursos-container {
  grid-column: 1 / -1;
  position: relative;
}

.formacao-titulo-extra {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #8f8f8f;
  margin-top: 70px;
  letter-spacing: 0.5ch;
}


.formacao-titulo-extra::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
  top: 68px;
  background-color: red;
}

.cursos-titulo::before{
  background: url("../img/curso.svg");
}


.cursos-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 30px;
}

.cursos-curso {
  text-transform: uppercase;
  background-color: #292929;
  color: #ccc;
  padding: 12px 25px;
  min-width: 160px;
  text-align: center;
  margin: 10px 20px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1.1rem;
}

.cursos-especificacoes {
  display: none;
}
