* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

body {
  background-color: #f7f7f7;
}

#logo {
  display: block;
  margin: 60px auto;
}

#nav_container {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  justify-content: center;
}

.navegador {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 15px 25px;
  border-radius: 5px;
  display: block;
}

.navegador:hover{
  border: 2px solid red;
}



#conteudo_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  max-width: 1000px;
  margin: 60px auto;
}

#NSdescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  padding: 80px 40px;
  background-color: white;
  position: relative;
}

#NSdescription::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 4px;
  background-color: red;
  position: absolute;
  top: 30px;
  right: -30px;
}



#NSdescription > h2 {
  font-size: 2rem;
}

#NSdescription > p {
  text-align: right;
  font-size: 1.3rem;
}

#NSdescription > a {
  text-decoration: none;
  background-color: red;
  padding: 15px 25px;
  width: 80px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

#NSdescription > a:hover {
  background-color: #900;
}

#bicicleta {
  max-width: 100%;
}

#subtitulo_vantagens {
  font-size: 4rem;
  background-color: #f7f7f7;
  background-image: url(./img/onda.svg);
  color: #c6c6c6;
  text-align: right;
  padding: 40px;
  align-self: center;
}

#vantagens {
  padding: 40px;
  background-color: white;
}

.vantagens-items:nth-child(odd){
  background-color: #f7f7f7;
}

.vantagens-items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-items:hover {
  border-left: 4px solid red;
}

.vantagens-items > p {
  grid-area: 2/2;
  font-size: 1.3rem;
}

footer{
    text-align: center;
    background-color: white;
    padding: 40px;
    font-size: 1.3rem;
}